{% extends 'base.html' %}

{% block content %}
<span class="title">
    <h1>{% block title %} Questions {% endblock %}</h1>
</span>
<div class="questions">
    <h2>Questions Blueprint</h2>
    <div class="question">
        <div class="new-question">
            <form method="POST" action="#">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.content.label(class="form-control-label") }}
                    {{ form.content(class="form-control") }}
                </p>
                <p>
                    {{ form.answer.label(class="form-control-label") }}
                    {{ form.answer(class="form-control") }}
                </p>
                <p>{{ form.submit }}</p>
            </form>
        </div>
        <div class="questions-list">
            {% for question in questions %}
            <div class="question">
                <h4>{{ question.content }}</h4>
                <p>{{ question.answer }}</p>
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}